.share {
    display: flex;
}

.share-link {
    display: flex;
    align-items: center;
    height: 2.6rem;
    padding: 0 0.8rem;
    margin: 0 0.6rem;
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 1;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    border-radius: 5px;
    border: 1px solid var(--light-gray-color);
}

.share-link .icon {
    width: 14px;
    height: 14px;
}

.share-link .icon-website {
  margin-right: 5px;
}

.share-link .icon-facebook {
    margin-right: 5px;
}

.share-link .icon-twitter {
    margin-right: 5px;
}

.share-link .icon-linkedin {
    margin-right: 5px;
}

.share-link-facebook {
    background-color: rgba(0,0,0,.5);
}

.share-link-twitter {
    background-color: rgba(0,0,0,.5);
}


.single-share {
  margin: 2rem 0;
}

.share-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-text {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.share-buttons {
  display: flex;
  gap: 20px;
}

.share-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: var(--primary-color);
  fill: currentColor;
}